body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
  }
  
/* /---------- NAV BAR ----------/ */
  
.topnav {   
    display: flex;
    align-items: center;
    width: 100vw;
    overflow: hidden;
    background-color: #5499C3;
}
  
.topnav a{
    float: left;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 3vh 3vw;
    font-size: 1em;
}
  
.topnav a:hover {
    background-color: #ffffff;
    color: #5499C3;
}
  
.topnav a.active {
    background-color: #193D6F;
    color: #ffffff;
}
  
/* /---------- botão entrar----------/ */
  
.button_on {
    background-color: #ffffff;
    border: none;
    color: #5499C3;
    font-size: 1em;
    margin-top: auto;
    margin-bottom: auto;
    width: 10.6vw;
    height: 7vh;
    margin-left: auto;
    cursor: pointer;
}
  
/* /---------- botão registrar-se ----------/ */
  
.button_new {
    background-color: #193D6F;
    border: none;
    color: #ffffff;
    font-size: 1em;
    margin-top: auto;
    margin-bottom: auto;
    width: 10.6vw;
    height: 7vh;
    margin-right: 5vw;
    cursor: pointer;
}
  
/* /---------- caixa de login ----------/ */
  
.banner{
    width: 100vw;
}
*:focus {
    outline: none;
}

#senhaBorder{
    width: 20vw;
    border: 2px solid #fff;
    border-radius: 12px;
}

@media (max-width: 812px) {
    #login {
        background-color: #BFC4CA;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: bold;
        color: #193D6F;
        font-size: 20px;
        width: 90vw;
        height: 40vh;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 3vh;
        text-align: center;
        border-radius: 0 0 5px 5px;
        border-radius: 10px;
        box-shadow: 0 0 .8em #1d457e;
    }
}
@media (min-width: 813px) {
    #login {
        background-color: #BFC4CA;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: bold;
        color: #193D6F;
        font-size: 20px;
        position: absolute;
        width: 30vw;
        height: 57vh;
        margin-left: 66vw;
        margin-top: 3vh;
        text-align: center;
        border-radius: 0 0 5px 5px;
        border-radius: 10px;
        box-shadow: 0 0 .8em #1d457e;
        align-items: flex-end;
    }
}
  
/* remove a linha dos links */

a {
    text-decoration: none;
    color: #193D6F;
}
  
/* /define o checkbox/ */
  
#check {
    font-size: 13px;
    text-align: center;
}
  
/* /define os links/ */
  
.link {
    font-size: 12px;
    text-align: left;
    margin-left: 17%;
}
  
.link a {
    /* color: rgb(29, 162, 193); */
    margin-left: 10px;
}
  
.link a:hover {
    color: #1d457e;
}
  
.button_login {
    width: 125px;
    height: 35px;
    top: 382px;
    background-color: #193D6F;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0 0 5px 5px;
    border-radius: 5px;
    text-align: center;
}
  
.button_registro {
    width: 125px;
    height: 35px;
    top: 382px;
    background-color: #BFC4CA;
    color: #ffffff !important;
    font-weight: bold;
    border-radius: 0 0 5px 5px;
    border-radius: 5px;
    border-color: #193D6F;
    text-align: center;
    
}

.link2 {
    color: #193D6F;
    text-align: center;
}
  
#camp {
    margin-left: 5vw;
    text-align: left;
    font-style: normal;
    font-weight: normal;
}

@media (max-width: 812px){
    .borderInput{
        margin-top: 1vh;
        padding-left: 10px;
        height: 4vh;
        width: 75vw;
        border: 2px solid #fff;
        border-radius: 4vh;
    }
}

@media (min-width: 813px){
    .borderInput{
        margin-top: 1vh;
        padding-left: 10px;
        height: 4vh;
        width: 20vw;
        border: 2px solid #fff;
        border-radius: 4vh;
    }

}

/* /---------- informações ----------/ */

@media (max-width: 812px)
{
      
    .info1 {
        margin-left: 5vw;
        width: 90vw;
        word-wrap: break-word;
        text-align: justify;
    }
    .info {
        margin-left: 5vw;
        width: 90vw;
        word-wrap: break-word;
        text-align: justify;
    }
}

@media (min-width: 813px)
{
      
    .info1 {
        margin-left: 2vw;
        width: 61vw;
        word-wrap: break-word;
        text-align: justify;
    }
    .info {
        margin-left: 2vw;
        width: 61vw;
        word-wrap: break-word;
        text-align: justify;
    }
}

h2 {

    color: #193D6F;
}
  
h3 {
    color: #5499C3;
}
  
.footer {
    text-align: center;
    background-color: #5499C3;
    font-size: 14x;
}
  
#tfooter {
    padding: 1%;
    font-size: 25PX;
    color: #193D6F;
}
  
#nomes {
    text-align: center;
    list-style: none;
}