body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
  }
  
/* /---------- NAV BAR ----------/ */
  
.topnav {
    overflow: hidden;
    background-color: #5499C3;
    display: flex;
    align-items: center;
    width: 100vw;
}
  
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 4vh 2vw;
    text-decoration: none;
    font-size: 1em;
}
  
.topnav a:hover {
    background-color: #ffffff;
    color: #5499C3;
}
  
.topnav a.active {
    background-color: #193D6F;
    color: #ffffff;
}
  
/* /---------- botão entrar----------/ */
  
.button_on {
    background-color: #ffffff;
    border: none;
    color: #5499C3;
    text-align: center;
    font-size: 1em;  
    width: 11vw;
    height: 7vh;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}
  
/* /---------- botão registrar-se ----------/ */
  
.button_new {
    background-color: #193D6F;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    width: 11vw;
    height: 7vh;
    margin-right: 3vw;
    cursor: pointer;
}

#banner{
    width: 100vw;
}

/* /---------- caixa de login ----------/ */
  
#login {
    background-color: #BFC4CA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #193D6F;
    font-size: 1.2em;
    position: absolute;
    width: 25vw;
    height: 350px;
    margin-left: 72vw;
    margin-top: 3vh;
    text-align: center;
    border-radius: 0 0 5px 5px;
    border-radius: 10px;
}
  
/* remove a linha dos links */
  
a {
    text-decoration: none;
}
  
/* /define o checkbox/ */
  
#check {
    font-size: 13px;
    text-align: center;
}
  
/* /define os links/ */
  
.link {
    font-size: 12px;
    text-align: left;
    margin-left: 17%;
}
  
.link a {
    color: rgb(29, 162, 193);
    margin-left: 10px;
}
  
.link a:hover {
    color: #1d457e;
}
  
.button_login {
    width: 125px;
    height: 35px;
    top: 382px;
    background-color: #193D6F;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0 0 5px 5px;
    border-radius: 5px;
    text-align: center;
}
  
.button_registro {
    width: 125px;
    height: 35px;
    top: 382px;
    background-color: #BFC4CA;
    color: #193D6F;
    font-weight: bold;
    border-radius: 0 0 5px 5px;
    border-radius: 5px;
    border-color: #193D6F;
    text-align: center;
}
  
  
  
.link2 {
    color: #193D6F;
    text-align: center;
}
  
#camp {
    text-align: center;
    font-style: normal;
    font-weight: normal;
}
  
/* /---------- informações ----------/ */
  

@media (min-width: 813px){
    .info1 {
        margin-left: 2%;
        width: 68vw;
        word-wrap: break-word;
        text-align: justify;
    }
    .info {
        margin-left: 2%;
        width: 68vw;
        word-wrap: break-word;

        text-align: justify;
    }
}

  
h2 {
    color: #193D6F;
}
  
h3 {
    color: #5499C3;
}
  

  
.footer {
    text-align: center;
    background-color: #5499C3;
    font-size: 14x;
}
  
#tfooter {
    padding: 1%;
    font-size: 25PX;
    color: #193D6F;
}
  
#nomes {
    text-align: center;
    list-style: none;
}